html {
    min-height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(162deg, rgba(2, 0, 36, 1) 0%, rgba(53, 53, 143, 0.9654236694677871) 35%, rgba(0, 212, 255, 1) 100%);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --main-text-desc: #777777;
}